<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="helloWorld" class="com.szl.demo.spring.springdemo.HelloWorld">
		<property name="message" value="Hello World!" />
	</bean>
	<bean id="cStartEventHandler" class="com.szl.demo.spring.springdemo.CStartEventHandler"></bean>
	<bean id="cStopEventHandler" class="com.szl.demo.spring.springdemo.CStopEventHandler"></bean>
	<bean id="customEventHandler" class="com.szl.demo.spring.springdemo.CustomEventHandler" />

	<bean id="customEventPublisher" class="com.szl.demo.spring.springdemo.CustomEventPublisher" />

</beans>